body {
    margin: 0px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(104, 104, 104);
    font-family: monospace;
}
#bg {
    z-index: 0;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

#warning {
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.493);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

header {
    background-color: antiquewhite;
    max-height: 110px;
    width: 100vw;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 2em;
    justify-content: space-around;

    img {
        max-height: 100px;
        border-radius: 100px;
        border: 3px black solid;
        margin: 5px 5px;
    }
    p {
        align-self:center;
    }
  
    #logged_in{
        display: none;
    }

}
#login {
    input {
        padding-left: 1vw;
        border: 3px outset black;
        border-radius: 15px;
        height: 3vh;
        width: 8vw; 
    }
    button {
        background-color: orange;
        border: 3px outset black;
        border-radius: 15px;
        height: 3vh;
        width: 8vw;
        margin-left: 1vw;
    }
}

#wc_header {
    text-align: center;
}
#account_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    div {
        background-color: rgba(255, 255, 255, 0.201);
        padding: 1em;
        border-style:double;
        border-radius: 5px;
        box-shadow: 4px 4px rgba(255, 255, 255, 0.461);
    }
    input {
        height: 30px;
        width: 200px;
        font-size: 0.8em;
    }
    button {
        border-style: none;
        background-color: orange;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: black;
            color: orange;
        }
    }
    display: none;
}

#member_zone {
    display:flex;
    justify-content: center;

    display: none;
}
article {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.201);
    margin-top: 2em;
    padding: 1em;
    border-radius: 5px;
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.8em;
    }
    p {
        font-size: 1.5em;
    }
    img {
        max-height: fit-content;
        float: right;
        max-height: 30vh;
    }
}

@media only screen and (max-width: 600px) {
    #account_section {
      flex-direction: column;
      div {
        margin-top: 1em;
      }
    }
    article {
        text-align: center;
        max-width: 80%;
        margin-left: 6%;
    }
  }

  footer {
    background-color: orange;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2em;
  }